{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": false,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },"overrides": [
  {
    // enable the rule specifically for TypeScript files
    "files": ["src/*.ts", "src/*.tsx", "src/**/*.ts"],
    "rules": {
      "@typescript-eslint/explicit-function-return-type": ["error"]
    }
  }
]
}